<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>회원가입</h1>
    <form action="/register.do" method="post">
      <input type="hidden" name="command" value="register">
      아이디 : <input type="text" name="id" required /> <br />
      비밀번호 : <input type="text" name="password" required /><br />
      이름 : <input type="text" name="name" /><br />
      주소 : <input type="text" name="addr" />
      <input type="submit" value="가입">
    </form>
  </body>
</html>
